{% extends 'base.html' %}

{% block content %}
<section class="bg-gradient-to-br from-pink-50 to-indigo-100 p-8">
    <h1 class="text-center font-bold text-2xl text-indigo-500">Responsive Grid Layout </h1>

    <div class="grid justify-center md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-7 my-10">
        <!-- Card 1 -->
        <div class="container flex justify-center">
            <div class="max-w-sm py-10">
              <div class="bg-white relative shadow-lg hover:shadow-xl transition duration-500 rounded-lg">
                <img class="rounded-t-lg" src="https://www.tunisianet.com.tn/221848-large/pc-portable-asus-vivobook-x509fa-i3-10e-gen-4-go-silver.jpg" alt="" />
                <div class="py-6 px-8 rounded-lg bg-white">
                  <h1 class="text-gray-700 font-bold text-2xl mb-3 hover:text-gray-900 hover:cursor-pointer">PC Asus</h1>
                  <p class="text-gray-700 tracking-wide">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.</p>
                  <button class="mt-6 py-2 px-4 bg-indigo-600 text-white font-bold rounded-lg shadow-md hover:bg-indigo-400 transition duration-300">Add to Cart</button>
                </div>
                <div class="absolute top-2 right-2 py-2 px-4 bg-indigo-600 text-white rounded-lg">
                  <span class="text-md">$150</span>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="container flex justify-center">
            <div class="max-w-sm py-10">
              <div class="bg-white relative shadow-lg hover:shadow-xl transition duration-500 rounded-lg">
                <img class="rounded-t-lg" src="https://www.ubuy.co.id/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNzFuc1NVR0kxSEwuX0FDX1NMMTUwMF8uanBn.jpg" alt=""/>
                <div class="py-6 px-8 rounded-lg bg-white">
                  <h1 class="text-gray-700 font-bold text-2xl mb-3 hover:text-gray-900 hover:cursor-pointer">Gamer Mouse</h1>
                  <p class="text-gray-700 tracking-wide">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.</p>
                  <button class="mt-6 py-2 px-4 bg-indigo-600 text-white font-bold rounded-lg shadow-md hover:bg-indigo-400 transition duration-300">Add to Cart</button>
                </div>
                <div class="absolute top-2 right-2 py-2 px-4 bg-indigo-600 text-white rounded-lg">
                  <span class="text-md">$150</span>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="container flex justify-center">
            <div class="max-w-sm py-10">
              <div class="bg-white relative shadow-lg hover:shadow-xl transition duration-500 rounded-lg">
                <img class="rounded-t-lg" src="https://cdn.shopify.com/s/files/1/2652/5526/products/1_355f35ac-79ab-4a24-8f9a-2a3306d42359_1200x1200.jpg?v=1612431546" alt="" />
                <div class="py-6 px-8 rounded-lg bg-white">
                  <h1 class="text-gray-700 font-bold text-2xl mb-3 hover:text-gray-900 hover:cursor-pointer">Canon PIXMA TR4520</h1>
                  <p class="text-gray-700 tracking-wide">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.</p>
                  <button class="mt-6 py-2 px-4 bg-indigo-600 text-white font-bold rounded-lg shadow-md hover:bg-indigo-400 transition duration-300">Add to Cart</button>
                </div>
                <div class="absolute top-2 right-2 py-2 px-4 bg-indigo-600 text-white rounded-lg">
                  <span class="text-md">$150</span>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="container flex justify-center">
            <div class="max-w-sm py-10">
              <div class="bg-white relative shadow-lg hover:shadow-xl transition duration-500 rounded-lg">
                <img class="rounded-t-lg" src="https://media.ldlc.com/r1600/ld/products/00/05/89/84/LD0005898490_1.jpg" alt="" />
                <div class="py-6 px-8 rounded-lg bg-white">
                  <h1 class="text-gray-700 font-bold text-2xl mb-3 hover:text-gray-900 hover:cursor-pointer">MacBook Pro 2021</h1>
                  <p class="text-gray-700 tracking-wide">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.</p>
                  <button class="mt-6 py-2 px-4 bg-indigo-600 text-white font-bold rounded-lg shadow-md hover:bg-indigo-400 transition duration-300">Add to Cart</button>
                </div>
                <div class="absolute top-2 right-2 py-2 px-4 bg-indigo-600 text-white rounded-lg">
                  <span class="text-md">$850</span>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="container flex justify-center">
            <div class="max-w-sm py-10">
              <div class="bg-white relative shadow-lg hover:shadow-xl transition duration-500 rounded-lg">
                <img class="rounded-t-lg" src="https://www.ooredoo.tn/Business/1581-large_default/portable-iphone-13-pro-128-go.jpg" alt="" />
                <div class="py-6 px-8 rounded-lg bg-white">
                  <h1 class="text-gray-700 font-bold text-2xl mb-3 hover:text-gray-900 hover:cursor-pointer">Iphone 13 pro</h1>
                  <p class="text-gray-700 tracking-wide">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.</p>
                  <button class="mt-6 py-2 px-4 bg-indigo-600 text-white font-bold rounded-lg shadow-md hover:bg-indigo-400 transition duration-300">Add to Cart</button>
                </div>
                <div class="absolute top-2 right-2 py-2 px-4 bg-indigo-600 text-white rounded-lg">
                  <span class="text-md">$1150</span>
                </div>
              </div>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="container flex justify-center">
            <div class="max-w-sm py-10">
              <div class="bg-white relative shadow-lg hover:shadow-xl transition duration-500 rounded-lg">
                <img class="rounded-t-lg" src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/9/8/98726-1.jpg" alt="" />
                <div class="py-6 px-8 rounded-lg bg-white">
                  <h1 class="text-gray-700 font-bold text-2xl mb-3 hover:text-gray-900 hover:cursor-pointer">Casque JBL</h1>
                  <p class="text-gray-700 tracking-wide">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.</p>
                  <button class="mt-6 py-2 px-4 bg-indigo-600 text-white font-bold rounded-lg shadow-md hover:bg-indigo-400 transition duration-300">Add to Cart</button>
                </div>
                <div class="absolute top-2 right-2 py-2 px-4 bg-indigo-600 text-white rounded-lg">
                  <span class="text-md">$85</span>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}